<!-- Publications Section -->
<section id="publications" class="bg-light-gray">
<div class="container">
<div class="row">
<div class="col-lg-12 text-center">
<h2 class="section-heading">Publications</h2>
<br>
<br>
</div>
</div>


<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted"><b>Alex Harkess</b>, Francesco Mercati, Francesco Sunseri, Agostino Falavigna, Jim Leebens-Mack. Retrotransposon expansion coincident with the evolution of dioecy and sex chromosomes in <i>Asparagus</i>. (in review) </p>
</div><div class="box-footer"> </div></div>
<br>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">8) Dieter Hackenberg, Michael R. McKain, Soon Goo Lee, Tyler McCann, Spencer Schreier, <b>Alex Harkess</b>, J. Chris Pires, Gane Ka-Shu Wong, Joseph M. Jez, Elizabeth Kellogg and Sona Pandey. Comprehensive phylogenetic and biochemical analyses of plant RGS and Gα proteins suggest no evidence for their adaptive coevolution. (in review) </p>
</div><div class="box-footer"> </div></div>
<br>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">7) <b>Alex Harkess</b>, Jim Leebens-Mack. Genome-wide survey of repetitive element content in dioecious garden asparagus. (in review) </p>
</div><div class="box-footer"> </div></div>
<br>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">6) Ray Ming, Robert Van Buren ... <b>Alex Harkess</b>, Michael Mckain ... Qingyi Yu. The pineapple genome and the evolution of CAM photosynthesis. <b>Nature Genetics (2015). </b> <a href="http://www.nature.com/ng/journal/vaop/ncurrent/full/ng.3435.html">[link]</a> </p>
</div><div class="box-footer"> </div></div>
<br>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">5) <b>Alex Harkess</b>, Francesco Mercati, Francesco Sunseri, Agostino Falavigna, Jim Leebens-Mack. Sex-biased gene expression in dioecious garden asparagus. <b>New Phytologist (2015). </b> <a href="http://www.ncbi.nlm.nih.gov/sra/?term=SRP045915">[SRA]</a> <a href="http://datadryad.org/resource/doi:10.5061/dryad.92c60">[Dryad]</a> <a href="http://onlinelibrary.wiley.com/doi/10.1111/nph.13389/abstract">[link]</a> </p>
</div><div class="box-footer"> </div></div>
<br>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">4) Steven B. Cannon*, Michael McKain*, <b>Alex Harkess</b>*, Matthew Nelson, Sudhansu Dash, Michael Deyholos, Neil Stewart, Yanhui Peng, Blake Joyce, Charles N. Stewart Jr., Megan Rolf, Toni Kutchan, Xuemei Tan, Cui Chen, Yong Zhang, Eric Carpenter, Gane Ka-Shu Wong, Jeff J. Doyle, Jim Leebens-Mack. Multiple polyploidy events in the early radiation of nodulating and non-nodulating legumes. <b>Molecular Biology and Evolution (2015)</b>.   * = equal contributors. <a href="http://mirrors.iplantcollaborative.org/browse/iplant/home/shared/legume_wgd">[Dryad]</a> <a href="http://mbe.oxfordjournals.org/content/32/1/193.abstract">[link]</a> </p>
</div><div class="box-footer"> </div></div>
<br>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">3) Francesco Mercati, Paolo Riccardi, <b>Alex Harkess</b>, Tea Sala, Maria Rosa Abenavoli, Jim Leebens-Mack, Agostino Falavigna, Francesco Sunseri. SNP-based parentage analysis and population structure in garden asparagus, a worldwide genetic stock classification. <b> Molecular Breeding (2015)</b> <a href="http://link.springer.com/article/10.1007/s11032-015-0217-5">[link]</a> </p>
</div><div class="box-footer"> </div></div>
<br>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">2) Amborella Genome Project. The Amborella Genome and the Evolution of Flowering Plants. <b>Science (2013)</b> <a href="http://www.sciencemag.org/content/342/6165/1241089">[link]</a> </p>
</div><div class="box-footer"> </div></div>
<br>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">1) Jonathan I Gent, Nathanael I Ellis, Lin Guo, <b>Alex E. Harkess</b>, Yingyin Yao, Xiaoyu Zhang, R. Kelly Dawe. CHH Islands: <i>de novo</i> DNA methylation in near-gene chromatin regulation in maize. <b>Genome Research (2012)</b> <a href="http://genome.cshlp.org/content/early/2013/01/31/gr.146985.112">[link]</a> </p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<br>
<h3>Publications in preparation</h3>


<p class="text-muted"><b>Alex Harkess</b> et al., The Asparagus Genome and the Evolution of a Sex Chromosome Pair</p>
</div><div class="box-footer"> </div></div>
<br>



</div>
</section>
