<!-- Publications Section -->
<section id="publications" class="bg-light-gray">
<div class="container">
<div class="row">
<div class="col-lg-12 text-center">
<h2 class="section-heading">Publications</h2>
<br>
<br>
</div>
</div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">17) Alex Harkess, Kun Huang, Ron van der Hulst, Bart Tissen, Jeffrey L Caplan, Aakash Koppula, Mona Batish, Blake C Meyers, Jim Leebens-Mack. Sex chromosome evolution via two genes. <a href="https://www.biorxiv.org/content/early/2018/12/12/494112">[biorxiv preprint]</a></p>
</div><div class="box-footer"> </div></div>
<br>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">16) One Thousand Plant Transcriptomes Initiative. A Phylogenomic View of Evolutionary Complexity in Green Plants. (in review) </p>
</div><div class="box-footer"> </div></div>
<br>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">15) Fay-Wei Li, <b>Alex Harkess</b>. A guide to sequencing your favorite plant genome. <b>Applications in Plant Science (2018)</b><a href="https://onlinelibrary.wiley.com/doi/full/10.1002/aps3.1030">[link]</a></p>
</div><div class="box-footer"> </div></div>
<br>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">14) Atul Kakrana, Sandra M. Mathioni, Kun Huang, Reza Hammond, Lee Vandivier, Parth Patel, Siwaret Arikit, Olga Shevchenko, <b>Alex E. Harkess</b>, Bruce Kingham, Brian D. Gregory, James H. Leebens- Mack, Blake C. Meyers. Plant 24-nt reproductive phasiRNAs from intramolecular duplex mRNAs in diverse monocots <b>Genome Research (2018)</b> <a href="https://genome.cshlp.org/content/28/9/1333.abstract">[link]</a></p>
</div><div class="box-footer"> </div></div>
<br>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">13) Patrick P. Edger, Jocelyn C. Hall, <b>Alex Harkess</b>, Michelle Tang, Jill Coombs, Setareh Mohammadin, M. Eric Schranz, Zhiyong Xiong, James Leebens-Mack, Blake C. Meyers, Kenneth J. Sytsma, Marcus A. Koch, Ihsan A. Al-Shehbaz, and J. Chris Pires. Brassicales phylogeny inferred from 72 plastid genes: a reanalysis of the phylogenetic localization of two paleopolyploid events and origin of novel chemical defenses <b>American Journal of Botany (2018)</b> <a href="https://onlinelibrary.wiley.com/doi/full/10.1002/ajb2.1040">[link]</a></p>
</div><div class="box-footer"> </div></div>
<br>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">12) R. Kelly Dawe, Elizabeth G. Lowry, Jonathan I. Gent, Michelle C. Stitzer, David M. Higgins, Lisa B. Kanizay, Jeffrey Ross-Ibarra, Magdy Alabady, Na Wang, <b>Alex E. Harkess</b>, Amy L. Hodges, Evelyn N. Hiatt. Kinesin-driven neocentromeres promote meiotic drive in maize. <b>Cell (2018)</b> <a href="https://www.cell.com/cell/fulltext/S0092-8674(18)30289-7?_returnURL=https%3A%2F%2Flinkinghub.elsevier.com%2Fretrieve%2Fpii%2FS0092867418302897%3Fshowall%3Dtrue">[link]</a></p>
</div><div class="box-footer"> </div></div>
<br>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">11) <b>Alex Harkess</b> et al., The evolution of sex chromosomes in Asparagus. <b>Nature Communications (2017)</b> <a href="https://www.nature.com/articles/s41467-017-01064-8">[link]</a></p>
</div><div class="box-footer"> </div></div>
<br>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">10) <b>Alex Harkess</b>, Jim Leebens-Mack. A century of sex determination in plants. <b>Heredity (2017)</b> <a href="https://academic.oup.com/jhered/article/108/1/69/2631568/A-Century-of-Sex-Determination-in-Flowering-Plants">[link]</a></p>
</div><div class="box-footer"> </div></div>
<br>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">9) Dieter Hackenberg, Michael R. McKain, Soon Goo Lee, Tyler McCann, Spencer Schreier, <b>Alex Harkess</b>, J. Chris Pires, Gane Ka-Shu Wong, Joseph M. Jez, Elizabeth Kellogg and Sona Pandey. Gα and regulator of G-protein signaling (RGS) protein pairs maintain functional compatibility and conserved interaction interfaces throughout evolution despite frequent loss of RGS proteins in plants. <b>New Phytologist (2016)</b> <a href="http://onlinelibrary.wiley.com/doi/10.1111/nph.14180/full">[link]</a> </p>
</div><div class="box-footer"> </div></div>
<br>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">8) Richard Moore, <b>Alex Harkess</b>, Laura Weingartner. How to be a seXY plant model: a holistic view of sex-chromosome research. <b>American Journal of Botany (2016)</b> <a href="http://www.amjbot.org/content/early/2016/07/01/ajb.1600054">[link]</a> </p>
</div><div class="box-footer"> </div></div>
<br>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">7) <b>Alex Harkess</b>, Francesco Mercati, Francesco Sunseri, J. Chris Pires, Agostino Falavigna, Jim Leebens-Mack. Retrotransposon expansion coincident with the evolution of dioecy and sex chromosomes in <i>Asparagus</i>. <b>G3: Genes, Genomes, Genetics (2016)</b> <a href="http://www.g3journal.org/content/early/2016/06/23/g3.116.030239.full.pdf+html">[link]</a> <a href="http://datadryad.org/resource/doi:10.5061/dryad.1k450">[Dryad]</a> </p>
</div><div class="box-footer"> </div></div>
<br>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">6) Ray Ming, Robert Van Buren ... <b>Alex Harkess</b>, Michael Mckain ... Qingyi Yu. The pineapple genome and the evolution of CAM photosynthesis. <b>Nature Genetics (2015). </b> <a href="http://www.nature.com/ng/journal/vaop/ncurrent/full/ng.3435.html">[link]</a> </p>
</div><div class="box-footer"> </div></div>
<br>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">5) <b>Alex Harkess</b>, Francesco Mercati, Francesco Sunseri, Agostino Falavigna, Jim Leebens-Mack. Sex-biased gene expression in dioecious garden asparagus. <b>New Phytologist (2015). </b> <a href="http://www.ncbi.nlm.nih.gov/sra/?term=SRP045915">[SRA]</a> <a href="http://datadryad.org/resource/doi:10.5061/dryad.92c60">[Dryad]</a> <a href="http://onlinelibrary.wiley.com/doi/10.1111/nph.13389/abstract">[link]</a> </p>
</div><div class="box-footer"> </div></div>
<br>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">4) Steven B. Cannon*, Michael McKain*, <b>Alex Harkess</b>*, Matthew Nelson, Sudhansu Dash, Michael Deyholos, Neil Stewart, Yanhui Peng, Blake Joyce, Charles N. Stewart Jr., Megan Rolf, Toni Kutchan, Xuemei Tan, Cui Chen, Yong Zhang, Eric Carpenter, Gane Ka-Shu Wong, Jeff J. Doyle, Jim Leebens-Mack. Multiple polyploidy events in the early radiation of nodulating and non-nodulating legumes. <b>Molecular Biology and Evolution (2015)</b>.   * = equal contributors. <a href="http://mirrors.iplantcollaborative.org/browse/iplant/home/shared/legume_wgd">[Dryad]</a> <a href="http://mbe.oxfordjournals.org/content/32/1/193.abstract">[link]</a> </p>
</div><div class="box-footer"> </div></div>
<br>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">3) Francesco Mercati, Paolo Riccardi, <b>Alex Harkess</b>, Tea Sala, Maria Rosa Abenavoli, Jim Leebens-Mack, Agostino Falavigna, Francesco Sunseri. SNP-based parentage analysis and population structure in garden asparagus, a worldwide genetic stock classification. <b> Molecular Breeding (2015)</b> <a href="http://link.springer.com/article/10.1007/s11032-015-0217-5">[link]</a> </p>
</div><div class="box-footer"> </div></div>
<br>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">2) Amborella Genome Project. The Amborella Genome and the Evolution of Flowering Plants. <b>Science (2013)</b> <a href="http://www.sciencemag.org/content/342/6165/1241089">[link]</a> </p>
</div><div class="box-footer"> </div></div>
<br>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">1) Jonathan I Gent, Nathanael I Ellis, Lin Guo, <b>Alex E. Harkess</b>, Yingyin Yao, Xiaoyu Zhang, R. Kelly Dawe. CHH Islands: <i>de novo</i> DNA methylation in near-gene chromatin regulation in maize. <b>Genome Research (2012)</b> <a href="http://genome.cshlp.org/content/early/2013/01/31/gr.146985.112">[link]</a> </p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<br>
<h3>Publications in preparation</h3>






</div>
</section>
