<!-- Services Section -->
    <section id="research">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Research</h2>
		    <p class="text-muted">My interests are broad, but encompass skills learned in the lab, the greenhouse, and at the terminal </p>
		    <p class="text-muted"> I also believe in open science and a commitment to code sharing. See my <a href="https://github.com/alexharkess">github account.</a> </p>
		    <br>
		    <br>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-yahoo fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Sex Chromosomes</h4>
                    <p class="text-muted">I am using a suite of reverse genetic, sequencing, and bioinformatic strategies to identify gender determination genes on the garden asparagus Y chromosome </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-sliders fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Polyploidy</h4>
                    <p class="text-muted">Whole genome duplications have run amok in the flowering plants. I enjoy taking syntenic and phylogenomic approaches with genome and transcriptome data to identify these events in big trees.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-leaf fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Basal Angiosperms</h4>
                    <p class="text-muted">The basal angiosperms are a particularly special group of angiosperms. I am especially interested in Amborella trichopoda and the Nymphaeales waterlilies, which both exhibit a variety of sexual diversity.</p>
                	<br>
                	<br>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-refresh fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Small RNAs</h4>
                    <p class="text-muted">Small RNAs are processed and function in myriad unique ways in plants. I am currently studying how gene and genome duplications have influenced Dicer-like protein evolution in the monocots, and its associated role in phasiRNA biogenesis </p>
                
            <br>  
            <div class="col-lg-12 text-center">
            <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Plant-Fungal interactions</h4>
                    <p class="text-muted">A peculiar fungal parasitism can convert <i>Silene latifolia</i> XX females into hermaphrodites. I am identifying the mechanisms plant-fungal molecule exchange and the evolutionary arms race between these two species</p>
                	<br>
                	<br>
                </div>
           	 	<p class="text-muted"><b>Short on time? Here are my finalist competition videos for the 3 Minute Thesis competition during graduate school at UGA </b></p>
				<br>
				<p class="text-muted"><b>2014 - Top 10 Finalist </b></p>
				<iframe width="280" height="162.5" src="https://www.youtube.com/embed/Kqz-jdwL6Kk" frameborder="0" allowfullscreen></iframe>
				<br>
				<p class="text-muted"><b>2015 - 2nd Place </b></p>
				<iframe width="280" height="162.5" src="https://www.youtube.com/embed/2ZkleS-jtMY?t=13m26s" frameborder="0" allowfullscreen></iframe>
       		</div>
        </div>
    </section>
